@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}